<section class="mt-12">
    <div *ngIf="affectations">
        <h2 class="text-xl my-2 w-8/12 mx-auto">Affectation avec Gale and Shapley</h2>
        <table class="table-fixed w-8/12 text-sm text-left rtl:text-right text-gray-500 mx-auto border">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 text-center">
              <tr>
                <th scope="col" class="px-6 py-3" >Étudiant</th>
                <th scope="col" class="px-6 py-3 border-r" >Taux de Satisfaction</th>
                <th scope="col" class="px-6 py-3">Établissement</th>
                <th scope="col" class="px-6 py-3 border-r" >Taux de Satisfaction</th>
                <th scope="col" class="px-6 py-3" >Taux de Satisfaction Total</th>
              </tr>
            </thead>
    
            <tbody>
                <tr *ngFor="let affectation of affectations" class="bg-white border-b text-center">
                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">{{ affectation.idEtudiant }}</td>
                    <td class="border-r">{{ findStudentSatisfaction(affectation.idEtudiant) | number:'1.2-2' }}%</td>
                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">{{ affectation.idEstablishment }}</td>
                    <td class="border-r">{{ findEstablishmentSatisfaction(affectation.idEstablishment) | number:'1.2-2' }}%</td>
                    <td>{{ calculateTotalSatisfaction(affectation.idEtudiant, affectation.idEstablishment) | number:'1.2-2'  }}%</td>
                </tr>
            </tbody>
          </table>

          <div class="w-8/12 mx-auto mt-8">
            <div class="text-center font-bold mb-2">Satisfactions Globales</div>
            <div class="text-center">Satisfaction Globale des Étudiants: <b>{{ globalStudentSatisfaction | number:'1.2-2'  }}%</b></div>
            <div class="text-center">Satisfaction Globale des Établissements: <b>{{ globalEstablishmentSatisfaction | number:'1.2-2' }}%</b></div>
            <div class="text-center">Satisfaction Globale Combinée: <b>{{ globalCombinedSatisfaction | number:'1.2-2' }}%</b></div>
        </div>

    </div>
</section>
